.header {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 14, 219);
    margin: 5px;
    column-gap: 50px;
}
.left-section {
    width: 40px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
}
.middle-section {
    flex: 1;
    height: 25px;
}
.right-section {
    width: 110px;
}
.custom-search {
    margin: auto;
    display: block;
    height: 100%;
    width: 90%;
    max-width: 700px;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
}
.custom-button {
    height: 35px;
    width: 90%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: rgb(120, 14, 219);
    color: white;
}
.custom-search::placeholder {
    color: rgb(49, 49, 49);    
    opacity: 0.7;
    font-weight: bold;
    font-size: 13px;
}

.search {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    opacity: 1;
    margin: 20px;
    padding: 5px;
    padding-left: 15px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.7);
    border-width: 1px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
}
.search::placeholder {
    color: rgb(49, 49, 49);    
    opacity: 0.7;
}
.google {
    width: 500px;
    text-align: center;
}
.google-pic {
    display: block;
    margin: auto;
    width: 40%;
}
.google-button {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0);
    border-radius: 3px;
    padding: 10px;
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.1);
    transition: border 10ms;
}   
.google-button:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.3);
    
}
.google-search {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    color: black;  
    margin: 20px;
    padding: 5px;
    padding-left: 15px;
    /* border-style: solid;
    border-color: grey;
    border-width: 1px; */
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.3);
    width: 400px;
    height: 30px;    
}
.google-search:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.google-search::placeholder {
    color: rgb(49, 49, 49);    
    opacity: 0.7;
}
input:focus {
    outline: none;
}
p {
    font-family: 'Arial';
    color: rgb(97, 97, 97);
    margin-left: 20px;
}
.linked-email {
    font-size: 16px;  
    margin-top: 15px;
    margin-bottom: 5px;
}
.linked-privacy {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.linked-search {
    margin-left: 20px;
    height: 25px;
    width: 350px;
    border-color: rgb(107, 107, 107);
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
}
.linked-button {
    margin-left: 20px;
    margin-bottom: 30px;
    width: 355px;
    height: 45px;
    border-radius: 30px;
    border: none;
    background-color: rgb(2, 111, 212);
    color: white;
    font-size: 17px;
}
.support {
    font-size: 16px;
    color: black;
    display: inline-block;
    width: 230px;
    vertical-align: middle;
}

/* ALL INBOXES */
.inbox {
    width: 350px;
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.all-inboxes {
    color: rgba(128, 128, 128, 0.9);
    font-family: Arial;
    font-size: 13px;
}
.message {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 40px 1fr;
}
.message-picture {
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
}
.sender-picture {    
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    margin: auto;
}
.message-body {    
    margin-left: 8px;
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sender-name {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}
.time {    
    font-family: Arial;
    font-size: 13px;
    color: rgba(128, 128, 128, 0.9);
    /* font-weight: bold; */
}
.middle-section {
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    margin-top: -3px;
    margin-bottom: -2px;
}
.bottom-section {
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 13px;
    color: rgba(128, 128, 128, 0.9);
}